<nav class="navbar navbar-inverse navbar-fixed-top" ng-init="syncResults()">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ripe Tomatoes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" ng-submit="loadResults()">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="name" placeholder="Restaurant">
          <input type="text" class="form-control" placeholder="Location" ng-model="location">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- padding applied to clear fixed navbar -->
<div style="padding: 60px"> 
  <div style="float: right; position: fixed; right: 0px" class="col-sm-12 col-md-4">
    <div>
     <map id='map'></map>
    </div>
  </div>
  <!-- <div id="navbar" class="results" ng-init="syncResults()">
    <h3>Ripe Tomatoes</h3>
    <form name="searchBar" ng-submit="loadResults()" >
        <input type="text" name="name" placeholder="Enter restaurant name" ng-model='name'>
        <input type="text" name="location" placeholder="Enter location" ng-model='location'>
        <button type="submit" class="search" >Submit</button>
    </form >
  </div> -->
  <div class="container col-sm-12 col-md-8" >
    <div class="well" ng-repeat="restaurant in results" ng-init="initializeMap()">
    <!-- Using yelp image image_url  -->
      <img style="float: right" src="{{ restaurant.imageUrl }}" alt="">
      <div class='restaurant-header'>
        <a class="name" href="{{ restaurant.url }}" >{{ restaurant.name }}</a>
        <div class="address" ng-repeat="line in restaurant.address">
          <div>{{ line }}</div>
        </div>
        <div>
          <span class="glyphicon glyphicon glyphicon-earphone"></span>
          <span>{{ restaurant.phoneNumber }}</span>
        </div>
        <br>
      </div>

  <!-- Composite Tomato Meter -->
    <div>
      <a href="#" class="link">Tomato Score: </a>
      <!-- TODO: fix tomato meter...I created a function calculateTomatoRating in the controller for us to build in our own logic for computing the composite score  -->
      <span ng-repeat="i in getNumber(7, 'ripe_tomatoes')">
        <img width="15px" height="15px" src="{{ i }}" alt="">
      </span> ({{ i }} out of 10 based on n reviews)
    </div>

  <!-- Yelp meter -->
    <div class="yelp data">
      <a href="{{restaurant.yelpData.url}}" class="link">Yelp: </a>
      <span class="rating"><img src="{{ restaurant.yelpData.ratingUrl }}" alt=""> ({{restaurant.yelpData.rating }} out of 5 based on {{restaurant.yelpData.reviewCount}} reviews)</span>
    </div>

  <!-- FourSquare Meter -->
      <div class="fourQ data">
        <a href="{{restaurant.foursquareData.url}}" class="link">FourSquare</a>
        <div id="fs-logo" class="fs_rating" ng-repeat="i in getNumber(restaurant.foursquareData.rating, 'foursquare')">
          <img  width="15px" height="15px" src="{{ i }}" alt="" >
        </div>

        <span class="count"> ({{ restaurant.foursquareData.rating }} out of 10 based on {{ restaurant.foursquareData.reviewCount }} reviews)</span>
      </div>
    </div>
  </div>
</div>




