<div id="navbar" class="results" ng-init="syncResults()">
  <h3>Ripe Tomatoes</h3>
  <form name="searchBar" ng-submit="loadResults()" >
      <input type="text" name="name" placeholder="Enter restaurant name" ng-model='name'>
      <input type="text" name="location" placeholder="Enter location" ng-model='location'>
      <button type="submit" class="search" >Submit</button>
  </form >
</div>
<div id="clearer">{{ results.error }} white</div>
<div map-lazy-load="http://maps.google.com/maps/api/js">
 <map id='map'></map>
</div>
<div class="result" ng-repeat="restaurant in results" ng-init="initializeMap()">
  <div class='restaurant-header'>
    <a class="name" href="{{ restaurant.url }}" >{{ restaurant.name }}</a>
    <div class="address">{{ <restaurant class="address"></restaurant> }}</div>
  </div>
  <!-- <div class="map"></div> -->
  <div class="yelp data">
    <a href="{{restaurant.yelpData.url}}" class="link">YELP</a>
    <div class="rating">rating: {{ restaurant.yelpData.rating }}/5</div>
    <div class="count">reviews: {{ restaurant.yelpData.reviewCount }}</div>
  </div>
  <div class="fourQ data">
    <a href="{{restaurant.foursquareData.url}}" class="link">FourSquare</a>
    <div class="rating">rating: {{ restaurant.foursquareData.rating }}/10</div>
    <div class="count">reviews: {{ restaurant.foursquareData.reviewCount }}</div>
  </div>
</div>



