<div id="searchBar" class="results" >
  <h1>Ripe Tomatoes</h1>
  <form name="searchBar" ng-submit="loadResults()" >
      <input type="text" name="name" placeholder="Enter restaurant name" ng-model='name'>
      <input type="text" name="location" placeholder="Enter location" ng-model='location'>
      <button type="submit" class="search" >Submit</button>
  </form >
</div>
<div class="search-result" ng-repeat="restaurant in results">
    <div class='restaurant-header'>
      <div class="name">{{ restaurant.name }}
      </div>
      <div class="url">{{ restaurant.url }}
      </div>
      <img class="rating" ng-src="{{restaurant.yelpData.rating }}">
      <div class="address"></div>{{ restaurant.location}}
    </div>
    <!-- <div class="map"></div> -->
    <div class="yelp data">
      <div class="review"></div>
      <div class="price"></div>
      <div class="url"></div>
    </div>
    <div class="fourQ data">
      <div class="review"></div>
      <div class="price"></div>
      <div class="url"></div>
    </div>
  </div>
</div>
