<nav class="navbar navbar-inverse navbar-fixed-top" ng-init="syncResults()">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <a class="navbar-brand" href="#"><img style="width: 25 px; height:25px" src="tomato_map.png"></a>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Ripe Tomatoes <span class="sr-only">(current)</span></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" ng-submit="loadResults()">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="name" placeholder="Restaurant" tabindex="1" autofocus>
          <input type="text" class="form-control" placeholder="Location" ng-model="location" tabindex="2">
        </div>
        <button type="submit" class="btn btn-default" tabindex="3">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="loggedIn"><a href="#/signin">Sign In</a></li>
        <li ng-hide="loggedIn"><a href="#/signup">Sign Up</a></li>
        <li ng-show="loggedIn"><a href="#/" ng-click="signout()">Sign Out</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> <!-- end Navbar -->

<h1 ng-init="retrieve()" id="favoritesHeader">{{username}}'s Tomatoes</h1>


<!-- MAIN CONTAINER FOR CONTENT (search results and map) -->
<div id="searchResults_content" style="padding: 60px"> <!-- padding applied to clear fixed navbar -->

  <!-- SEARCH RESULTS MAP -->
  <div id="map_search_results" style="float: right; position: fixed; right: 0px; margin-bottom: 20px;"  class="col-sm-12 col-md-4">
    <div>
     <map id='map'></map>
    </div>
  </div> <!-- end search results map -->

<!-- RESULTS CONTAINER (wraps all search result items)  -->
  <div id="results_container" class="container col-sm-12 col-md-8" style='position: static;'>
  <!-- RESULT ITEM CONTAINER -->
    <div id="search_result_item" class="well" ng-repeat="restaurant in favorites" ng-init="initializeMap()">
      <!-- Using yelp image image_url  -->
      <img style="float: right" src="{{ restaurant.imageUrl }}" alt="">
      <div class='restaurant-header'>
        <strong><a class="name" href="{{ restaurant.url }}" target='_blank'>{{ restaurant.name }}</a></strong>
        <div class="address" ng-repeat="line in restaurant.address">
          <div>{{ line }}</div>
        </div>
        <div>
          <span class="glyphicon glyphicon glyphicon-earphone"></span>
          <span>{{ restaurant.phoneNumber }}</span>
        </div>
      </div>

  <!-- RATING METERS -->
    <div id="rating_meters">
    <!-- Composite Tomato Meter -->
      <div class="tomato meter">
        <a href="#" class="link">Tomato Score: </a>
        <!-- TODO: fix tomato meter...I created a function calculateTomatoRating in the controller for us to build in our own logic for computing the composite score  -->
        <span ng-repeat="i in getNumber(restaurant.compositeScore, 'ripe_tomatoes')">
          <img width="15px" height="15px" src="{{ i }}" alt="">
        </span> ({{ restaurant.compositeScore }} out of 10 based on {{ restaurant.totalReviews }} reviews)
      </div>

    <!-- Yelp meter -->
      <div class="yelp data">
        <a href="{{restaurant.yelpData.url}}" class="link" target='_blank'>Yelp: </a>
        <span class="rating"><img src="{{ restaurant.yelpData.ratingUrl }}" alt=""> ({{restaurant.yelpData.rating }} out of 5 based on {{restaurant.yelpData.reviewCount}} reviews)</span>
      </div>

    <!-- FourSquare Meter -->
      <div class="fourQ data">
        <a href="{{restaurant.foursquareData.url}}" class="link" target='_blank'>FourSquare</a>
        <div id="fs-logo" class="fs_rating" ng-repeat="i in getNumber(restaurant.foursquareData.rating, 'foursquare')">
          <img  width="15px" height="15px" src="{{ i }}" alt="" >
        </div>

        <span class="count"> ({{ restaurant.foursquareData.rating }} out of 10 based on {{ restaurant.foursquareData.reviewCount }} reviews)</span>
      </div>
    </div> <!-- end rating meters -->

    <!-- USER ACTIONS -->
      <div id="user_actions">
      <!-- View comments -->
        <div id="view_comments" class="user-action">
          <span class="glyphicon glyphicon-comment"></span><a href="#">  View Comments (potential feature)</a>
        </div> <!-- end add_to_favorites -->
      <!-- Remove to favorites -->
        <div id="add_to_favorites" class="user-action" ng-show="loggedIn">
          <span class="glyphicon glyphicon-star-empty"></span><a> Remove from Favorites </a>
        </div> <!-- end remove_to_favorites -->
      </div> <!-- end user_actions div -->
    </div> <!-- end search_result_item -->
  </div> <!-- end results_container -->
</div> <!-- end searchResult_content -->




